body {
  font-family: "Tahoma";
  background-color: #e9f1fc;
  margin: 0;
  padding: 32px;
  max-width: 50%;
  margin: auto;
}

h1 {
  text-align: center;
  color: #055085;
}

h2 {
  border-bottom: 2px solid #2b9cec;
  padding-bottom: 5px;
  margin-top: 30px;
  color: #057ddf;
}

input {
  display: block;
  width: 100%;

  padding: 10px;
  margin-top: 10px;

  border: 1px solid #0ea2bd;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  color: white;
  background-color: #0077cc;

  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #027435;
}

#userInfo {
  margin-top: 10px;
  padding: 10px;
  background-color: #e6f2ff;
  border: 1px solid #b3d9ff;
  border-radius: 6px;
}

.product {
  margin-top: 12px;
  padding: 10px;

  background-color: #ffffff;
  border: 1px solid #0ea2bd;
  border-radius: 6px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product button {
  width: auto;
  padding: 6px 12px;
  font-size: 1rem;
}

#cartList {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

#cartList li {
  background-color: #bef7c1;
  border: 1px solid #97f3a4;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
}
